<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="DispoDataAssistant.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="DispoDataAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<DispoDataAssistant.Properties.UserSettings>
			<setting name="Theme" serializeAs="String">
				<value>Light</value>
			</setting>
			<setting name="DeviceType" serializeAs="String">
				<value>CPU</value>
			</setting>
			<setting name="DeviceModel" serializeAs="String">
				<value>600</value>
			</setting>
			<setting name="DeviceManufacturer" serializeAs="String">
				<value>HP</value>
			</setting>
			<setting name="PickupLocation" serializeAs="String">
				<value />
			</setting>
		</DispoDataAssistant.Properties.UserSettings>
		<DispoDataAssistant.Properties.Settings>
			<setting name="Theme" serializeAs="String">
				<value>Light</value>
			</setting>
			<setting name="DeviceType" serializeAs="String">
				<value />
			</setting>
			<setting name="DeviceModel" serializeAs="String">
				<value />
			</setting>
			<setting name="DeviceManufacturer" serializeAs="String">
				<value />
			</setting>
			<setting name="PickupLocation" serializeAs="String">
				<value />
			</setting>
		</DispoDataAssistant.Properties.Settings>
	</userSettings>
	<appSettings>
	</appSettings>
</configuration>